body {
  width: 100%;
  background: #1c5e4e; }

/****header**** */
.header {
  width: 100%;
  height: 83px;
  background: url("../images/bgheader.jpg") repeat-x bottom; }

.tools {
  float: right; }

.divider-vertical {
  float: right;
  padding: 0 20px;
  background: url("../images/bgli.jpg") 0 repeat-y;
  height: 60px; }
  .divider-vertical span {
    float: left; }

.avatar-face {
  width: 28px;
  height: 28px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #a4bfb8;
  color: #df5e00;
  font-family: arial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 28px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin-top: 18px; }

.avatar-name {
  line-height: 60px;
  padding: 0 7px;
  color: white; }

.avatar-append {
  height: 60px;
  width: 7px;
  background: url("../images/icontriangle.jpg") no-repeat 0 center;
  display: block; }

.bell-count {
  padding-left: 23px;
  margin-top: 23px;
  background: url("../images/iconbell.jpg") no-repeat 0 0;
  height: 16px;
  display: block; }
  .bell-count i {
    background: #a4bfb8;
    font-family: arial;
    line-height: 16px;
    padding: 0 5px;
    float: left;
    font-weight: normal; }
    .bell-count i a {
      color: #e05f00; }

.add {
  background: url("../images/iconadd.jpg") no-repeat 0 center;
  line-height: 60px;
  padding-left: 16px; }
  .add a {
    color: #b3c2c1;
    font-size: 14px; }

.logo {
  float: left;
  width: 152px;
  height: 41px;
  padding: 25px 0 0 19px; }

/****wraper**** */
.wraper {
  width: 100%;
  position: relative;
  min-width: 1000px; }

.main {
  position: relative; }

.main-l {
  width: 190px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }

.main-r {
  margin-left: 190px;
  position: relative;
  margin-top: -21px; }

.mod_navbar {
  padding: 0 1px;
  height: 44px;
  background: #f7f3f0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }
  .mod_navbar h2 {
    background: url("../images/iconclock.jpg") no-repeat 10px center;
    border-bottom: 1px solid #cbd1de;
    padding-left: 50px;
    line-height: 43px;
    color: #1c5e4e;
    font-size: 16px; }

.main-content {
  background: #f4f6f9; }

.header-column {
  width: 100%;
  height: 38px;
  border-top: 1px solid white;
  border-bottom: 1px solid #cbd1de; }
  .header-column li {
    float: left;
    border-left: 1px solid white;
    border-right: 1px solid #cbd1de;
    width: 160px;
    height: 38px;
    background: #f4f6f9; }
    .header-column li a {
      width: 100%;
      display: block;
      line-height: 38px;
      font-size: 16px;
      text-align: center;
      color: #1c5e4e; }
      .header-column li a:hover {
        background: url("../images/bgcolumna.jpg") repeat-x bottom; }
  .header-column li.current a {
    background: url("../images/bgcolumna.jpg") repeat-x bottom; }

.mCSB_container {
  width: 100%;
  overflow: hidden;
  position: relative; }

.center-panel {
  width: 100%;
  margin-left: -300px;
  float: left; }

.right-panel {
  margin: 20px 20px 0 0;
  width: 280px;
  float: right; }

.center-panel-inner {
  margin-left: 300px; }
.main-content .box-panel{
  background:#f7f3f0;padding:15px;margin-bottom:15px;border:solid 1px #e1e1e1;
  -webkit-box-shadow:0 0 3px #eee,inset 0 0 3px #fff;
  box-shadow:0 0 3px #eee,inset 0 0 3px #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main-content .box-panel .box-panel-header{border-bottom:1px solid #e1e1e1;margin-bottom:15px}
.main-content .box-panel .box-panel-header:before,.main-content .box-panel .box-panel-header:after{content:" ";display:table}
.main-content .box-panel .box-panel-header:after{clear:both}
.main-content .box-panel .box-panel-header h4{
  color:#336666;font-size:18px;margin-bottom:15px;background: url("../images/icontask.jpg") no-repeat 4px center; padding-left: 30px;
}
.main-content .box-panel .box-panel-header .panel-actions{float:right;top:-15px;position:relative;display:block;right:12px}.main-content .box-panel .box-panel-header .panel-actions i{font-size:16px}
.main-content .box-panel .box-panel-body:before,.main-content .box-panel .box-panel-body:after{content:" ";display:table}
.main-content .box-panel .box-panel-body:after{clear:both}
.main-content .my-tasks-overview .hello-body:before,.main-content .my-tasks-overview .hello-body:after{content:" ";display:table}
.main-content .my-tasks-overview .hello-body:after{clear:both}
.main-content .my-tasks-overview .hello-body .avatar{margin-bottom:15px;float:left}
.main-content .my-tasks-overview .hello-body .hello-right{float:left;margin-left:16px}.main-content .my-tasks-overview .hello-body .hello-right h4{font-size:16px;margin:4px 0 8px;display:inline-block;color:#323a45}
.main-content .my-tasks-overview .hello-body .hello-right span{color:#8a959e}
.main-content .my-tasks-overview ul{list-style:none;margin:0}.main-content .my-tasks-overview ul:before,.main-content .my-tasks-overview ul:after{content:" ";display:table}
.main-content .my-tasks-overview ul:after{clear:both}
.main-content .my-tasks-overview ul li{list-style:none;float:left;width:33.3%;text-align:center;}.main-content .my-tasks-overview ul li a:hover .text{color:#d84c31}
.main-content .my-tasks-overview ul li.noborder{border-right:0}
.main-content .my-tasks-overview ul li span{display:block}
.main-content .my-tasks-overview ul li .count{font-family:arial;font-size:20px;font-weight:bolder}
.main-content .my-tasks-overview ul li .text{font-size:14px;color:#646b75;line-height:28px}
.main-content .my-tasks-overview ul li.tasks-completed .count{color:#88b244}
.main-content .my-tasks-overview ul li.tasks-uncompleted .count{color:#f7af49}
.main-content .my-tasks-overview ul li.tasks-expired .count{color:#f47a55}
.main-content .today-event .box-panel-header h4{margin-top:0}
.main-content .today-event .box-panel-body .empty-panel i{font-size:48px}
.main-content .today-event .box-panel-body .empty-panel span{font-size:18px}
.main-content .today-event .box-panel-body ul{margin:0}
.main-content .today-event .box-panel-body ul li{padding-top:10px;padding-bottom:10px}
.main-content .today-event .box-panel-body ul li:before,.main-content .today-event .box-panel-body ul li:after{content:" ";display:table}
.main-content .today-event .box-panel-body ul li:after{clear:both}
.main-content .today-event .box-panel-body ul li a{color:#646b75;display:block;float:left;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:260px}
.main-content .today-event .box-panel-body ul li a:hover{color:rgba(100,107,117,0.4)}
.main-content .today-event .box-panel-body ul li span{display:block;color:#d84c31;width:53px;float:left}
.avatar.avatar-50 .avatar-face,.avatar.avatar-50 .avatar-text {
width: 50px;
height: 50px;
line-height: 50px;
font-size: 30px;
font-family: arial;
margin-top: 0;
}
.empty-panel{margin:0 auto;padding-top:12%;text-align:center;text-shadow:0 2px 0 #fff,0 -2px 0 #f2f2ea}.empty-panel i{font-size:120px;color:#f2f2ea}
.empty-panel span{font-size:24px;line-height:48px;color:#e7e7df}
.empty-panel a{color:#e7e7df}.empty-panel a:hover{color:#d14836}
.empty-panel p{color:#8a959e;text-shadow:0 0 0}
[class^="icon-"], [class*=" icon-"] {
display: inline;
width: auto;
height: auto;
line-height: normal;
vertical-align: baseline;
background-image: none;
background-position: 0 0;
background-repeat: repeat;
margin-top: 0;
}
[class^="icon-"], [class*=" icon-"] {
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
text-decoration: inherit;
-webkit-font-smoothing: antialiased;
}
.icon-calendar-empty {
  width: 40px;
  height: 44px;
  display: inline-block;
  background: url("../images/icontask1.jpg");
}
.ipt-search {
  width: 12px;
  height: 12px;
  border: 0;
  cursor: pointer;
  float: left;
  background: url("../images/iconsearch.jpg");
  margin-top: 6px;
}
.ipt-keyword {
  float: left;
  width: 210px;
  height: 20px;
  line-height: 20px;
  padding-left: 10px;
  border: 0;
  background: transparent;
}
.left_menu_model {
  width: 100%;
  overflow: hidden;
}
.left_menu_model ul {
  overflow: hidden;
  padding-top: 50px;
}
.left_menu_model ul li {
  float: left;
  width: 100%;
  height: 58px;
}
.left_menu_model ul li:hover {
  background: url("../images/bgleftmodelli.png");
}
.left_menu_model ul li a {
  padding-left: 60px;
  width: 130px;
  line-height: 58px;
  display: block;
  font-size: 16px;
  color: #fff;
}
.left_menu_model ul li a:hover {
  color: #1c5e4e;
}
.left_menu_model ul li.current {
  background: url("../images/bgleftmodelli.png");
}
.left_menu_model ul li.current a {
  color: #1c5e4e; 
}
.left_menu_model ul li.current a.icon1 {
  background: url("../images/bgmenu1a.png") no-repeat 23px center;
}
.left_menu_model ul li.current a.icon2 {
  background: url("../images/bgmenu2a.png") no-repeat 23px center;
}
.left_menu_model ul li.current a.icon3 {
  background: url("../images/bgmenu3a.png") no-repeat 23px center;
}
.left_menu_model ul li.current a.icon4 {
  background: url("../images/bgmenu4a.png") no-repeat 23px center;
}
.left_menu_model ul li.current a.icon5 {
  background: url("../images/bgmenu5a.png") no-repeat 23px center;
}
.icon1:link,.icon1:visited {
  background: url("../images/bgmenu1.png") no-repeat 23px center;
}
.icon1:hover,.icon1:active {
  background: url("../images/bgmenu1a.png") no-repeat 23px center;
}
.icon2:link,.icon2:visited {
  background: url("../images/bgmenu2.png") no-repeat 23px center;
}
.icon2:hover,.icon2:active {
  background: url("../images/bgmenu2a.png") no-repeat 23px center;
}
.icon3:link,.icon3:visited {
  background: url("../images/bgmenu3.png") no-repeat 23px center;
}
.icon3:hover,.icon3:active {
  background: url("../images/bgmenu3a.png") no-repeat 23px center;
}
.icon4:link,.icon4:visited {
  background: url("../images/bgmenu4.png") no-repeat 23px center;
}
.icon4:hover,.icon4:active {
  background: url("../images/bgmenu4a.png") no-repeat 23px center;
}
.icon5:link,.icon5:visited {
  background: url("../images/bgmenu5.png") no-repeat 23px center;
}
.icon5:hover,.icon5:active {
  background: url("../images/bgmenu5a.png") no-repeat 23px center;
}
.date-date {
  width: 100%;
  height: 25px;
  padding: 10px 0;
  margin: 0 auto;
  background: #ebeef4;
  border: 1px solid #cbd1de;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
.date-date select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 25px;
  margin-right: 10px;
}
.board {
  padding: 15px;
  margin: 20px;
  border: 1px solid #e7e7e7;
  background: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
  -moz-box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
  box-shadow: 0 0 3px #eee,inset 0 0 3px #fff;
}
.date-list {
  width: 100%;
  position: relative;
}
.in-date-list {
  width: 100%;
  overflow: hidden;
}
.in-date-list h2 {
  border-bottom: 1px solid #e2e2e2;
  height: 32px;
  line-height: 32px;
  width: 100%;
}
.date-h2-state {
  float: right;
  width: 14%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border-left: 1px solid #e2e2e2;
}
.date-h2-title {
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding-left: 20px;
  width: 33%;
}
.bdr {
  border-right: 1px solid #e2e2e2;
}
.in-date-list ul {
  overflow: hidden;
  width: 100%;
}
.in-date-list ul li {
  width: 100%;
  float: left;
  line-height: 39px;
  border-bottom: 1px dotted #d1d1d1;
}
.in-date-list ul li span {
  float: right;
  width: 14%;
  text-align: center;
  font-size: 14px;
  border-left: 1px solid #e2e2e2;
}
.in-date-list ul li a {
  display: block;
  width: 33%;
  float: left;
  line-height: 39px;
  font-size: 14px;
  padding-left: 20px;
}
.in-date-list ul li a em {
  font-style: normal;
  float: left;
}
.in-date-list ul li:hover {
  background: #f6f6f6;
}
.bg-triangle {
  background: url("../images/icontriangle.png") no-repeat 10px center;
}
.span-s1 {
  color: #000;
}
.span-s2 {
  color: #3d9e68;
}
.span-s3 {
  color: #ff6c00;
}
.dc-list-l {
  width: 62px;
  position: absolute;
  left: 0;
  top: 22px;
}
.dc-list-r {
  margin-left: 62px;
  position: relative;
}
.column-title {
  width: 74px;
  line-height: 74px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e0e0e0;
  color: #cc6600;
  font-size: 26px;
  text-align: center;
}
.time-lime {
  width: 40px;
  overflow: hidden;
}
.time-lime ul {
  padding-top: 20px;
  overflow: hidden;
}
.time-lime li {
  float: left;
  height: 30px;
  width: 100%;
  font-size: 12px;
}
.time-lime li a {
  display: block;
  line-height: 30px;
  text-align: right;
  padding-right: 5px;
  border-right: 1px solid #e0e0e0;
  width: 34px;
  color: #666666;
}
.time-lime li a:hover {
  color: #339966;
  border-right: 1px solid #3d9e68;
}
.time-lime li.current a {
  color: #339966;
  border-right: 1px solid #3d9e68;
}
.in-dc-list {
  width: 100%;
  overflow: hidden;
}
.dcy {
  padding-top: 10px;
  margin-left: 8px;
}
.area {
  font-size: 26px;
  color: #336666;
  padding-left: 10px;
}
.dcy_name {
  color: #666666;
  font-size: 16px;
  padding-left: 5px;
}
.date-time {
  font-size: 13px;
  color: #666;
  background: url("../images/bgscroll1.png") 0 repeat-y;
  padding-left: 10px;
  padding-bottom: 10px;
}
.list-item {
  background: url("../images/iconround.png") no-repeat 0 8px,url("../images/bgscroll1.png") 8px repeat-y;
  overflow: hidden;
  padding-bottom: 30px;
}
.list-item-div,.write-cnt {
  border: 1px solid #e7e7e7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #f4f6f9;
  margin-left: 34px;
  padding: 0 13px;
  position: relative;
}
.write-cnt {
  padding: 0;
}
.list-item-div:before,.write-cnt:before {
  content:'';
  width:0;
  height:0;
  position:absolute;
  left:-10px;
  top:7px;
  border-right:10px solid #f4f6f9;
  border-top:12px solid transparent;
  border-bottom:12px solid transparent;
}
.write-cnt:before {
  border-right:10px solid #3d9e68;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
}
.list-item-div h2 {
  border-bottom: 1px solid #e7e7e7;
  line-height: 35px;
}
.edit-time {
  float: right;
  color: #909090
  font-size: 12px;
}
.create-time {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: #909090;
}
.list-item-cnt {
  padding: 10px 0;
  color: #4f4f4f;
}
.comment {
  float: right;
  background: url("../images/iconcomment.png") no-repeat 0 center;
  padding-left: 22px;
  color: #666;
  margin-top: 30px;
}
.cnt-img {
  height: 55px;
  padding-top: 10px;
}
.list-item-answer {
  width: 100%;
  overflow: hidden;
  height: 32px;
  position: relative;
  margin-bottom: 10px;
}
.answer-r {
  position: absolute;
  top: 0;
  right: 0;
  width: 77px;
  height: 28px;
}
.answer-l {
  margin-right: 82px;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 28px;
  line-height: 30px;
  background: #fff;
}
.answer-l span {
  float: left;
  padding: 0 10px;
}
.answer-l input {
  width: 80%;
  float: left;
  border: none;
  line-height: 28px;
}
.area-list {
  width: 100%;
  height: 30px;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #fcfcfc, #f8fafb); 
  /* Safari 4-5, Chrome 1-9 */ 
  /* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
  background: -webkit-gradient(linear,top,from(#fcfcfc),to(#f8fafb));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(top, #fcfcfc, #f8fafb);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #fcfcfc, #f8fafb);
}
.area-list a {
  float: left;
  padding: 0 15px;
  line-height: 30px;
  border-right: 1px solid #e8e8e8;
}
.area-list a:hover {
  color: #3d9e68;
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f5f6f7, #fff); 
  /* Safari 4-5, Chrome 1-9 */ 
  /* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
  background: -webkit-gradient(linear,top,from(#f5f6f7),to(#fff));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f5f6f7, #fff);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f5f6f7, #fff);
}
.area-list a.current {
  color: #3d9e68;
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #f5f6f7, #fff); 
  /* Safari 4-5, Chrome 1-9 */ 
  /* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
  background: -webkit-gradient(linear,top,from(#f5f6f7),to(#fff));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(top, #f5f6f7, #fff);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #f5f6f7, #fff);
}
.area-list a:last-child {
  border-right: 0;
}
.dc-title {
  font-size: 30px;
  color: #336666;
  font-family: arial;
  line-height: 40px;
}
.choose-time {
  width: 306px;
  height: 22px;
  padding: 4px 0;
  background: #3d9e68;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  position: relative;
  padding-right: 10px;
}
.choose-time li {
  float: left;
  padding: 0 10px;
}
.choose-time:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-right:10px solid #f4f6f9;
  border-top:15px solid transparent;
  border-bottom:15px solid transparent;
}
.choose-time a {
  color: #fff;
}
.write-cnt-in {
  width: 100%;
  overflow: hidden;
  height: 114px;
  position: relative;
}
.write-cnt-in-l {
  position: absolute;
  left: 6px;
  top: 8px;
  width: 100px;
  overflow: hidden;
}
.write-cnt-in-r {
  margin-left: 110px;
  padding-right: 6px;
  padding-top: 8px;
}
.write-cnt-in-r textarea {
  width: 100%;
  overflow: hidden;
  height: 62px;
  border: 1px solid #edeef1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.cnt-btn {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cnt-btn i {
  float: left;
}
.mradd {
  padding: 10px 7px 0 0;
}
.mrpic {
  padding-top: 5px;
}
#item-state {
  float: right;
  width: 59px;
  padding-left: 25px;
  height: 21px;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 58px;
  margin-top: 5px;
  line-height: 21px;
  color: #999999;
  position: relative;
}
.bg-green {
  background: url("../images/icongreen.png") no-repeat 5px center;
}
.bg-orange {
  background: url("../images/iconorange.png") no-repeat 5px center;
}
.bg-red {
  background: url("../images/iconred.png") no-repeat 5px center;
}
.item-state-list {
  display: none;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 84px;
  height: 69px;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ebedf0, #f6f6f6); 
  /* Safari 4-5, Chrome 1-9 */ 
  /* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
  background: -webkit-gradient(linear,top,from(#ebedf0),to(#f6f6f6));
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ebedf0, #f6f6f6);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ebedf0, #f6f6f6);
}
.item-state-list li {
  float: left;
  line-height: 23px;
  padding-left: 25px;
  width: 59px;
}

/*user*/
.per-pic {
  border-bottom: 1px dashed #ccc;
  height: 87px;
  width: 100%;
}
.p20 {
  padding: 15px 20px;
}
.avatar.avatar-66 .avatar-face, .avatar.avatar-66 .avatar-text {
  width: 66px;
  height: 66px;
  line-height: 66px;
  font-size: 50px;
  font-family: arial;
  color: #e05f00;
  float: left;
  display: block;
}
.avatar.avatar-66 .avatar-face {
  background: #ebebeb;
  margin: 0;
}
.tx-ms {
  float: left;
  padding-left: 15px;
}
.tx-ms em {
  float: left;
}
.tx-depart {
  margin-left: 30px;
  font-style: normal;
  font-size: 14px;
}
.tx-txt, .tx {
  display: block;
}
.tx-txt {
  font-size: 16px;
  line-height: 40px;
  color: #696969;
}
.tx {
  padding: 0 10px;
  background: #e5e5e5;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 58px;
  text-align: center;
  font-style: normal;
}
.edit-per {
  border-bottom: 1px dashed #ccc;
}
.edit-ipt {
  width: 530px;
  height: 30px;
  border: 1px solid #dbdbdb;
  line-height: 30px;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.edit-slct {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 148px;
  border: 1px solid #dbdbdb;
  height:30px;
}
.f16 {
  font-size: 16px;
}
.f14 {
  font-size: 14px;
}
.pq-list {
  width: 100%;
  overflow: hidden;
}
.pq-list h2 {
  border-bottom: 1px solid #e2e2e2;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #000;height: 40px;
}
.pq-list h2 span {
  width: 30%;
}
.message {
  float: right;
}
.pq-list h2 span.pqh2-r {
  float: right;
  text-align: left;
  width: 40%;
}
.pqh2-l {
  float: left;
}
.pqh2-l em {
  font-style: normal;
  padding-left: 20px;
}
.pq-list li {
  line-height: 39px;
  display: block;
  border-bottom: 1px dashed #e2e2e2;
  font-size: 14px;
}
.pq-list li:hover {
  background: #f6f6f6;
}
.pq-list li span {
  float: right;
  width: 170px;
  text-align: left;
  font-size: 12px;
}
.ulli-pq1, .ulli-pq2, .ulli-pq3 {
  float: left;
  width: 30%;
  line-height: 39px;
  font-size: 14px;
}
.ulli-pq2 {
  width: 40%;
}
.ulli-pq1 em {
  font-style: normal;
  padding-left: 20px;
  background: url("../images/icontriangleblue.jpg") no-repeat 10px center;
}
.ulli-pq3 span.pq-delete, .ulli-pq3 span.pq-penedit {
  float: right;
  margin-right: 12px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-top: 13px;
  display: none;
  cursor: pointer;
}
.ulli-pq3 span.pq-delete {
  background: url("../images/icondelete.jpg");
}
.ulli-pq3 span.pq-penedit {
  background: url("../images/iconpenedit.jpg");
  text-indent: -9999px
}

/*片区分配*/
.pqfp-list {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  position: relative;
}
.pqfp-list h2 {
  border-bottom: 1px solid #e2e2e2;
  height: 58px;
  line-height: 58px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.pqfp-list h2 span {
  width: 20%;
  float: left;
}
.pqfp-list h2 span em {
  padding-left: 20px;
  font-style: normal;
}
.pqfp-list-l {
  position: absolute;
  width: 199px;
  left:0;
  top: 60px;
  float: left;
  height: 100%;
  background: url("../images/bgpqfp1.jpg") repeat-y right 0 #f6f6f6;
  color: #333;
  font-size: 16px;
  padding-left: 15px;
  padding-top: 90px;
}
.pqfp-list ul {
  width: 100%;
  overflow: hidden;
}
.pqfp-list ul li {
  border-bottom: 1px dotted #b2b2b2;
  height: 39px;
  line-height: 39px;
}
.fp-ulli-pq0, .fp-ulli-pq3,.fp-ulli-pq1, .fp-ulli-pq2 {
  height: 39px;
  line-height: 39px;
  float: left;
  font-size: 14px;
}
.fp-ulli-pq0, .fp-ulli-pq3 {
  width: 30%;
}
.fp-ulli-pq1, .fp-ulli-pq2 {
  width: 20%;
}
.fp-ulli-pq1 em {
  font-style: normal;
}
.fp-ulli-pq3 span {
  display: block;
}
.fp-ulli-pq3 span.pq-delete {
  background: url("../images/icondelete1.jpg");
}
.fp-ulli-pq3 span.pq-penedit {
  background: url("../images/iconpenedit1.jpg");
  text-indent: -9999px
}
.fp-ipt-1 {
  width: 146px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding-left: 16px;
  line-height: 24px;
  border: 1px solid #dedede;
}
.fp-ipt-2 {
  width: 90px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding-left: 6px;
  line-height: 24px;
  border: 1px solid #dedede;
}
.pq-delete, .pq-penedit {
  float: right;
  margin-right: 12px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-top: 13px;
  display: none;
  cursor: pointer;
}
/*department*/
.depart-tool {
  padding: 8px 0;
  background: #ebeef4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #cbd1de;
  overflow: hidden;
}
.depart-tool select {
  float: left;
  width: 130px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: 17px;
  border: 1px solid #cccccc;
  height: 26px;
}
.depart-list {
  width: 100%;
  position: relative;
}
.depart-list h2 {
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
}
.depart-list h2 span {
  width: 20%;
  float: left;
  font-size: 16px;
  line-height: 40px;
  color: #000;
  font-weight: bold;
}
.pl18 {
  font-style: normal;
  padding-left: 18px;
}
.depart-list ul li {
  width: 100%;
  float: left;
  height: 39px;
  border-bottom: 1px dotted #d1d1d1;
}
.depart-list ul li div {
  width: 20%;
  float: left;
  line-height: 39px;
  font-size: 14px;
}
.ulli-depa5 span {
  display: none;
}
.ulli-depa5 span.pq-delete {
  background: url("../images/icondelete.jpg");
}
.ulli-depa5 span.pq-penedit {
  background: url("../images/iconpenedit.jpg");
  text-indent: -9999px
}
.depart-list ul li:hover {
  background: #f6f6f6;
}
.depart-list ul li div.ulli-depa1 {
  width: 10%;
}
.depart-list ul li div.ulli-depa5 {
  width: 30%;
}
.depart-list h2 span.h2span-depa1 {
  width: 10%;
}
.depart-list h2 span.h2span-depa5 {
  width: 30%;
}
.pagelist {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 20px 0;
}
.pagelist span {
  display: inline-block;
}
.page-prev,.page-next,.page-jump {
  background: #eaeaeb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 0 10px;
}
.page-count {
  padding: 0 10px;
}
.pagelist input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  width: 46px;
  text-align: center;
  line-height: 24px;
}
.c-009966 {
  color: #009966;
}
.c-ff6633 a {
  color: #ff6633;
}
.c-ff6633 {
  color: #ff6633;
}